<%- include ('partials/head.ejs') %>
<body class="body show">

<%- include ('partials/headerTwee.ejs') %>
<main>

<h2>Stap 3 van de 3</h2>

<form>
    <fieldset>
        <legend>Jouw mening deel 2</legend>
        <section class="minderRuimte"> 
            <p>8/9 Hoe ben je aan deze minor gekomen?</p>
            <label for="vriend"> Via een vriend(in)
                    <input type="radio" class="typeRadio" id="vriend" name="q8" value="vriend" <% if (queries.q8 === "vriend") { %>
                        checked 
                    <% } %>>
            </label>
            <br>
            <label for="minorenmarkt"> Via de minorenmarkt
                    <input type="radio" class="typeRadio" id="minorenmarkt" name="q8" value="minorenmarkt" <% if (queries.q8 === "minorenmarkt") { %>
                        checked 
                    <% } %>>
            </label>
            <br>
            <label for="docent"> Via een docent
                    <input type="radio" class="typeRadio" id="docent" name="q8" value="docent" <% if (queries.q8 === "docent") { %>
                        checked 
                    <% } %>>
            </label>
            <br>
            <label for="websiteHvA"> Via de HvA website
                    <input type="radio" class="typeRadio" id="websiteHvA" name="q8" value="websiteHvA" <% if (queries.q8 === "websiteHvA") { %>
                        checked 
                    <% } %>>
            </label>
            <br>
            <label for="anoniem"> Zeg ik liever niet
                    <input type="radio" class="typeRadio" id="anoniem" name="q8" value="anoniem" <% if (queries.q8 === "anoniem") { %>
                        checked 
                    <% } %>>
            </label>
            <br>
            <label for="anders"> Via een andere manier
                    <input type="radio" class="typeRadio" id="anders" name="q8" value="anders" <% if (queries.q8 === "anders") { %>
                        checked 
                    <% } %>>
            </label>

        </section>

        <br>

        <label class="textarea"> 9/9 Raad je deze minor aan anderen aan? Waarom wel/niet?
            <br>
            <textarea maxlength="100" name="q9" value="<%= queries.q9 %>" placeholder="Max. 150 characters max"><%= queries.q9 %></textarea>
        </label>

    </fieldset>

    <br>

    <input type="hidden" class="filledQuestions" name="q1" value="<%= queries.q1 %>">
    <input type="hidden" class="filledQuestions" name="q2" value="<%= queries.q2 %>">
    <input type="hidden" class="filledQuestions" name="q3" value="<%= queries.q3 %>">
    <input type="hidden" class="filledQuestions" name="q4" value="<%= queries.q4 %>">
    <input type="hidden" class="filledQuestions" name="q5" value="<%= queries.q5 %>">
    <input type="hidden" class="filledQuestions" name="q6" value="<%= queries.q6 %>">
    <input type="hidden" class="filledQuestions" name="q7a" value="<%= queries.q7a %>">
    <input type="hidden" class="filledQuestions" name="q7b" value="<%= queries.q7b %>">
    <input type="hidden" class="filledQuestions" name="q7c" value="<%= queries.q7c %>">
    <input type="hidden" class="filledQuestions" name="q7d" value="<%= queries.q7d %>">


    <input type="submit" value="Terug" formaction="/survey2" class="terug togglebutton typeSubmit">
    <input type="submit" value="Verder" formaction="/checkPage" class="verder togglebutton typeSubmit">
</form>