<%- include ('partials/head.ejs') %>
<body class="body show">
    
<%- include ('partials/headerTwee.ejs') %>
<main>
<h2>Stap 2 van de 3</h2>

<form>
    <fieldset>
        <legend>Jouw mening</legend>
        <section class="minderRuimte"> 
            <p>5/9 Welk cijfer geef je de minor WebDev?</p>
            <label for="een"> 1 - Heel slecht
                    <input type="radio" id="een" name="q5" value="1" <% if (queries.q5 === "1") { %>
                        checked 
                    <% } %>>
            </label>
            <br>
            <label for="twee"> 2 - Matig
                    <input type="radio" id="twee" name="q5" value="2" <% if (queries.q5 === "2") { %>
                        checked 
                    <% } %>>
            </label>
            <br>
            <label for="drie"> 3 - Wel oke
                    <input type="radio" id="drie" name="q5" value="3" <% if (queries.q5 === "3") { %>
                        checked 
                    <% } %>>
            </label>
            <br>
            <label for="vier"> 4 - Goed
                    <input type="radio" id="vier" name="q5" value="4" <% if (queries.q5 === "4") { %>
                        checked 
                    <% } %>>
            </label>
            <br>
            <label for="vijf"> 5 - Fantastisch
                    <input type="radio" id="vijf" name="q5" value="5" <% if (queries.q5 === "5") { %>
                        checked 
                    <% } %>>
            </label>
        </section>
        <br>
        <label class="textarea"> 6/9 Onderbouw je antwoord hieronder
            <br>
            <textarea maxlength="100" name="q6" value="<%= queries.q6 %>" placeholder="Keep it short (100 characters max)"><%= queries.q6 %></textarea>
        </label>
        <br>
        <section class="minderRuimte"> 
            <p>7/9 Over welke onderwerpen heb jij het meest geleerd?</p>
            <label for="PE"> Progressive enhancement
                <input type="checkbox" id="PE" name="q7a" value="PE" <% if (queries.q7a === "PE") { %>
                    checked 
                <% } %>>
            </label>
            <br>
            <label for="SSR"> Server side renderen
                <input type="checkbox" id="SSR" name="q7b" value="SSR" <% if (queries.q7b === "SSR") { %>
                    checked 
                <% } %>>
            </label>
            <br>
            <label for="CSS"> Advanced css
                <input type="checkbox" id="CSS" name="q7c" value="CSS" <% if (queries.q7c === "CSS") { %>
                    checked 
                <% } %>>
            </label>
            <br>
            <label for="PRTTPS"> Rapid prototyping
                <input type="checkbox" id="PRTTPS" name="q7d" value="PRTTPS" <% if (queries.q7d === "PRTTPS") { %>
                    checked 
                <% } %>>
            </label>
        </section>

    </fieldset>

    <br>

    <input type="hidden" class="filledQuestions" name="q1" value="<%= queries.q1 %>">
    <input type="hidden" class="filledQuestions" name="q2" value="<%= queries.q2 %>">
    <input type="hidden" class="filledQuestions" name="q3" value="<%= queries.q3 %>">
    <input type="hidden" class="filledQuestions" name="q4" value="<%= queries.q4 %>">
    <input type="hidden" class="filledQuestions" name="q8" value="<%= queries.q8 %>">
    <input type="hidden" class="filledQuestions" name="q9" value="<%= queries.q9 %>">
    
    <input type="submit" value="Terug" formaction="/survey1" class="terug togglebutton">
    <input type="submit" value="Verder" formaction="/survey3" class="verder togglebutton">
</form>
