<%- include ('partials/head.ejs') %>
<body class="body show">
    
<%- include ('partials/headerTwee.ejs') %>
<main>
<h2>Stap 1 van de 3</h2>

<form>
    <fieldset>
        <legend>Persoonlijke gegevens</legend>
      
            <label for="fname" class="textlabel"> 1/9 Naam:
                <input type="text" class="typeText" id="name" name="q1" placeholder="Don Joe" value="<%= queries.q1 %>"> 
            </label>

            <br><br>
      
            <label for="email" class="textlabel"> 2/9 E-mail adres: 
                <input type="text" class="typeText" id="email" name="q2" placeholder="emailHier@plaatsen.nl" value="<%= queries.q2 %>">
            </label>
      
            <br><br>
      
            <label for="telnmr" class="textlabel"> 3/9 Telefoonnummer: 
                <input type="text" class="typeText" id="telnmr" name="q3" inputmode="numeric" placeholder="06-1234678" pattern="[0-9]{2}[-][0-9]{8}" value="<%= queries.q3 %>">
            </label>
            
            <br><br>

              
            <label for="geboorteDatum" class="textlabel"> 4/9 Leeftijd: 
                <input type="text" class="typeText" id="geboorteDatum" name="q4" pattern="[0-9]{2}[-][0-9]{2}[-][0-9]{4}" placeholder="dd-mm-jjjj" value="<%= queries.q4 %>">
            </label>
      
        </fieldset>

        <input type="hidden" class="filledQuestions" name="q5" value="<%= queries.q5 %>">
        <input type="hidden" class="filledQuestions" name="q6" value="<%= queries.q6 %>">
        <input type="hidden" class="filledQuestions" name="q7a" value="<%= queries.q7a %>">
        <input type="hidden" class="filledQuestions" name="q7b" value="<%= queries.q7b %>">
        <input type="hidden" class="filledQuestions" name="q7c" value="<%= queries.q7c %>">
        <input type="hidden" class="filledQuestions" name="q7d" value="<%= queries.q7d %>">
        <input type="hidden" class="filledQuestions" name="q8" value="<%= queries.q8 %>">
        <input type="hidden" class="filledQuestions" name="q9" value="<%= queries.q9 %>">

        <input type="submit" value="Terug" formaction="/" class="terug togglebutton typeSubmit">
        <input type="submit" value="Verder" formaction="/survey2" class="verder togglebutton typeSubmit">
</form>



<%- include ('partials/footer.ejs') %>

